<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="temporalGridChange" class="co.nz.restorelab.TemporalGridChange"/>
    <bean id="inundationBathtub" class="co.nz.restorelab.InundationBathtub"/>
</beans>